@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Nunito", sans-serif;
    position: relative;
    background-color: #b1ddf1;
    /* scroll-behavior: smooth; */
}

/* To get the nav on the top */
.nav {
    position: fixed;
    /* background-color: teal; */
    /*to bottom right*/
    /* background-image: linear-gradient( #47FEFE, #1EB7E4, #0F6298); */
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100vw;
    height: 10svh;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.active {
    position: fixed;
    background-color: teal;
    margin: 0;
    width: 100vw;
    height: 8svh;
    z-index: 10;
    transition: all 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0.2rem;
}

/* To get the text in nav center and all other stuff */
.line {
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
}

.noChange {
    display: flex;
    justify-content: center;
    /* background-color: white; */
}

#noChange-2{
    display: flex;
    color: #000;
    margin: 0;
}

.noChange:active {
    background-color: teal;
}

/* This is too much work will little time */
/* .noChange-3{
    width: 80svw;
    height: 30svh;
    display: flex;
} */

/* .noChange-3 img{
    width: 100%;
} */

/* Decoration for text in nav */
a {
    margin-right: 50px;
    font-size: larger;
    font-family: inherit;
    color: white;
    font-weight: 500;
    text-decoration: none;
    align-self: center;
    transition: ease-out 400ms;
}

a:hover {
    transition: ease-in-out 0.1s;
    opacity: 0.7;
    color: #04d9ff;
    font-weight: 700;
    font-size: x-large;
    /* background-color: black; */
}

a:active {
    color: black;
    /* opacity: 0.4; */
    background-color: white;
}

.line>a:last-child {
    margin-right: 0px;
}

.highlight {
    /* background-color: #47FEFE; */
    /* background-color: rgba(71,254,254, 0.8); */
    background-color: rgba(177, 221, 241, 0.7);
    color: #000;
    transition: 0.7s ease-in-out;
    /* transform: scale(1.15); */
    /* transition: scale 200ms ease-in; */
    /* translate: ; */
}

/*     <img id="arrow" src="images/arrow.png" alt="arrow"> */
#arrow {
    width: 3.5svw;
    position: fixed;
    top: 112px;
    left: 15px;
    transition: ease-out 400ms;
}

#arrow:hover {
    transition: ease-in 200ms;
    /* transition: ease-out 400ms; */
    transform: scale(1.2);
}

/* Kinda like the body so it pushes the footer down */
.container {
    /* position: relative; */
    min-height: 100vh;
    background-color: #b1ddf1;
}

.hero {
    /* margin-top: 10svh; */
    background: url(../images/blue-background.jpg) no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-grid;
    padding: 20%;
    width: 100%;
    height: 100svh;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: white;
    -webkit-filter: drop-shadow(-5px 5px 5px #000);
    filter: drop-shadow(-1px 5px 5px #000);
    cursor: default;
}

.name {
    line-height: 2;
    height: fit-content;
}

.name>h1 {
    font-size: 3em;
}

.name>h3 {
    font-size: 1.5em;
}

.spacer {
    width: 100%;
    height: 100px;
}

.limit {
    display: flex;
    padding-top: 1%;
    width: 85svw;
    background-color: #b1ddf1;
    /* justify-content: center; */
    margin: auto;
}

.column{
    display: flex;
    flex-direction: column;
}

.block {
    /* display: flex; */
    width: 100%;
    background-color: teal;
    border-radius: 5px;
    /* flex-direction: column; */
}

.block p {
    text-align: justify;
    line-height: 2;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 600;
}

.block a {
    margin-bottom: 1rem;
}

.block img {
    border-radius: 5px;
}

#prt-words{
    opacity: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 50%;
    background-color: white;
    width: fit-content;
    transition: all 2s ease;
}

.left,
.right {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 20px;
}

/* .blur{
    width: fit-content;
    justify-content: center;
    align-self: center;
} */

.project {
    display: flex;
    width: 100%;
}

.resume {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    color: white;
}

.extra-big{
    font-size: 4rem;
}

.inline{
    display: flex;
    align-items: flex-end;
}

.inline h2{
    padding-bottom: 1rem;
}

.blur {
    width: 50%;
    justify-content: center;
    align-self: center;
    filter: blur(4px);
}

.drop-down {
    max-height: 0;
    width: 80svw;
    overflow: hidden;
    transition: all 0.5s ease;
}

.drop-down a li,  .drop-down a{
    display: flex;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.drop-down-open {
    max-height: 300px;
    width: 80svw;
    background-color: #0F6298;
    transition: all 0.5s ease;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.clickable {
    background-color: teal;
    border-radius: 20px;
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px; */
    display: flex;
    width: 80svw;
    height: 5rem;
    color: white;
    transition: all 0.5s ease;
    justify-content: space-between;
}

/* Do this in java script (better transiton*/
.clickable-hover{
    height: 5.5rem;
    transition: all 0.3s ease;
}
/* Also do this in Java Script */
.bigArrow {
    scale: 1.5;
}

.clickable-open{
    background-color: teal;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    display: flex;
    width: 80svw;
    height: 5rem;
    color: white;
    transition: all 0.5s ease;
    justify-content: space-between;
}

.clickable>h2 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4svw;
    cursor: default;
}


#arrow-2, #arrow-3, #arrow-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    margin-right: 1%;
    /* width: 56svw; */
    width: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.arrChanger{
    transform: rotate(3.142rad);
    transition: all 0.3s ease;
}

footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;
    /* padding-bottom: 2em; */
}