@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Nunito", sans-serif;
    position: relative;
    background-color: #b1ddf1;
    /* scroll-behavior: smooth; */
}
/* To get the nav on the top */
.nav{
    position: fixed;
    /* background-color: teal; *//*to bottom right*/
    /* background-image: linear-gradient( #47FEFE, #1EB7E4, #0F6298); */
    background: transparent;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    width: 100vw;
    height: 10svh;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

.active{
    position: fixed;
    background-color: teal;
    margin: 0;
    width: 100vw;
    height: 8svh;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}

/* To get the text in nav center and all other stuff */
.line{
    display: flex;
    justify-content: center;
    align-self: center;
    height: 100%;
}
/* Decoration for text in nav */
.line>a{
    margin-right: 50px;
    font-size:larger;
    font-family: inherit;
    color: white;
    font-weight: 500;
    text-decoration: none;
    align-self: center;
}

.line>a:hover{
    transition:ease-in-out 0.1s;
    opacity: 0.7;
    color:#04d9ff;
    font-weight: 700;
    font-size: x-large;
    /* background-color: black; */
}

.line>a:active{
    color:black;
    /* opacity: 0.4; */
    background-color: white;
}

.line>a:last-child{
    margin-right: 0px;
}
/*     <img id="arrow" src="images/arrow.png" alt="arrow"> */
#arrow{
    width: 3.5svw;
    position: fixed;
    top: 112px;
    left: 15px;
}

/* Kinda like the body so it pushes the footer down */
.container {
    /* position: relative; */
    min-height: 100vh;
    background-color: #b1ddf1;
}

.hero {
    /* margin-top: 10svh; */
    background: url(../images/blue-background.jpg) no-repeat bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: inline-grid;
    padding: 20%;
    width: 100%;
    height: 100svh;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: white;
    -webkit-filter: drop-shadow( -5px 5px 5px #000 );
    filter: drop-shadow(-1px 5px 5px #000 );
}

.name{
    line-height: 2;
}

.name>h1{
    font-size: 3em;
}

.name>h3{
    font-size: 1.5em;
}

.spacer{
    width: 100%;
    height: 100px;
}

.limit{
    display: flex;
    padding-top: 1%;
    width: 85svw;
    background-color: #b1ddf1;
    /* justify-content: center; */
    margin: auto;
}

.block{
    /* display: flex; */
    width: 100%;
    background-color: teal;
}

.project{
    display: flex;
    width: 100%;
}

footer {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    margin: 0;
    background-color: black;
    text-align: center;
    color: white;
    /* padding-bottom: 2em; */
}